@model IEnumerable<PhotoGallery2.Models.Photo>
@{
    ViewBag.Title = "Manage Photo";
}
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h2 class="panel-title">List of Photos</h2>        
    </div>
    <div id="EntityList" class="panel-body">
        @{
            Html.RenderAction("_ListPhotos","Photo");
        }
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" type="button" id="btnDelete">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </button>
    </div>
</div>

@Html.Hidden("DeleteUrl", Url.Action("DeletePhotos","Photo"))
@Html.Hidden("ReloadUrl",Url.Action("_ListPhotos"))
@Html.AntiForgeryToken()

@section scripts
{
    <script type="text/javascript" src="~/Scripts/PhotoGallery/GlobalFunctions.js"></script> 
}
