@model IEnumerable<PhotoGallery2.Models.Photo>
@{
    ViewBag.Title = "Manage Photo";
}
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h2 class="panel-title">List of Photos</h2>        
    </div>
    <div id="listPhotos" class="panel-body">
        @{
            Html.RenderAction("_ListPhotos","Photo");
        }
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" type="button" id="btnDelete">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </button>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#btnDelete').click(function(e) {
                e.preventDefault();
                var selected = new Array();
                $("input[id='chkDeleteID'][type='checkbox']:checked").each(function() {
                    selected.push($(this).val());
                });

                if (selected.length) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(selected),
                        url: '@Url.Action("DeletePhotos", "Photo")',
                        contentType: 'application/json',
                        success: function(result) {
                            $('#listPhotos').load(
                                '_ListPhotos',
                                {},
                                function() {

                                }
                            );
                        }
                    });
                }
            });

            $(document).on("click",".btn.btn-link", function() {
                    $.ajax({
                        url: 'GetNextResult',
                        data: {
                            currentPageNumber: $(this).text().trim(),
                            pageSize : 5
                        },
                        error: function(error) {
                            
                        },
                        success: function(result) {
                            $('#listPhotos').html(result);
                        }
                    });
                });
        });
    </script>
}
