@{
    ViewBag.Title = "About";
}
<div class="col-md-10 body-center">
    <div class="panel panel-collapse panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title.</h3>
        </div>
        <div class="panel-body">
            <p>
                Collection of Ishaan's Photo and Video.
            </p>
            <p>
                To view all the photos need to create a log in account or you can use existing google or facebook account for login.
            </p>
            <p>
                We don't store your credentials in our database. You can remove this option any time later.
            </p>
        </div>
    </div>
</div>