@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@*@ViewBag.Message*@</h3>

<p>
    Collection of Ishaan's Photo and Video.
</p>
<p>
To view all the photos need to create a log in account or you can use existing google or facebook account for login.
    </p>
<p class="lead">
    We don't store your credentials in our database. You can remove this option any time later.
</p>
