@{
    ViewBag.Title = "Contact Us";
}
<div class="body-content center-block media-body" style="margin-top: 15%;margin-left: 15% ">
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <address>
        @*One Microsoft Way<br />
            Redmond, WA 98052-6399<br />*@

        <abbr title="Phone">
            <span class="glyphicon glyphicon-phone "></span>
            61. 422 651 500
        </abbr>
    </address>

    <address>
        <span class="glyphicon glyphicon-envelope"></span>  <a href="mailto:Support@ishaan.com.au">Support@ishaan.com.au</a><br />
        <span class="glyphicon glyphicon-envelope"></span>  <a href="mailto:ramesh.pillai@gmail.com">ramesh.pillai@gmail.com</a>
    </address>
</div>