@using System.Web.Util
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roles";

    if (User.Identity.IsAuthenticated)
    {
        <h1>
            @Html.ActionLink("Create New", "Create", "Role")
        </h1>
    }
}
<div>
    <div class="row">
        <div class="col-lg-2">
            <h1>Role Name</h1>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-2">
                @item.Name
            </div>
            <div class="col-lg-3">
                @Html.ActionLink("Delete","Delete", new { id = @item.Id } )
            </div>
        </div>
    }
</div>
