@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roles";


}
<div class="body-content">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", "Role", htmlAttributes: new {@class = "btn-link"});
    }
    <div class="row">
        <div class="col-md-8">
            <h1>Role Name</h1>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-2">
                @item.Name
            </div>
            <div class="col-lg-3">
                @Html.ActionLink("Delete", "Delete", new { id = @item.Id })
            </div>
        </div>
    }
</div>
