@model PhotoGallery2.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}
<div class="col-xs-offset-2 col-xs-5">
    <div class="panel panel-collapse panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Forgot Password</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form " }))
            {
                @Html.AntiForgeryToken();
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <input type="submit" class="btn btn-primary" value="Email Link" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

