@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="jumbotron">
    <h2 class="text-danger">
        Error. An error occurred while processing your request.
    </h2>
    @Html.ActionLink("Back to Home","Index","Home")
     @*@Model.Exception.Message*@
</div>
